@model ProyectoLenguajesNetCore.Models.MEDICAMENTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MEDICAMENTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FARMACEUTICA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FARMACEUTICA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_INGRESO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_INGRESO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_VENCIMIENTO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_VENCIMIENTO)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_MEDICAMENTO">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
